*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.login-page{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
}

/* Moldura */
.page-border{
    width:1080px;
    height:600px;
    background:white;
    border:10px solid #005ea8;
    position:relative;
}

/* Segunda borda */

.page-border::before{
    content:"";
    position:absolute;
    inset:8px;
    border:3px solid #5e9bd5;
    pointer-events:none;
}

/* Logo */
.login-logo-caragua{
    display:flex;
    justify-content:center;
    margin-top:40px;
}

.login-logo-caragua img{
    width:540px;
    max-width:90%;
}

/* Caixa azul */
.login-box{
    width:640px;
    margin:35px auto;
    background:#005d99;
    border:4px solid #0d6faf;
    padding:20px 45px 35px;
}

.login-box h1{

    text-align:center;
    color:white;
    font-size:34px;
    font-weight:500;
}

.linha{
    height:3px;
    background:white;
    margin:12px 0 45px;
}

/* Formulário */
.login-form{
    display:flex;
    flex-direction:column;
    gap:35px;
}

.campo{
    display:flex;
    align-items:center;
}

.campo label{
    width:90px;
    color:white;
    font-size:18px;
    font-weight:bold;
    text-align:right;
    margin-right:18px;
}

.text-input{
    flex:1;
    height:38px;
    border:none;
    outline:none;
    padding:0 10px;
    font-size:17px;
    background:white;
}

/* Esconde o botão para ficar igual à imagem */
.button-input{
    display:none;
}

.footer{
    position:absolute;
    left:25px;
    bottom:18px;
    font-size:20px;
    color:#111;
}

.centralizar{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight: bolder;
}